/* Estilos generales para toda la pagina */
:root {
    --primary-color: #fff199;
    /* Uso: Áreas grandes y prominentes de tu diseño, como el fondo del cuerpo principal de la página o secciones destacadas. */
    --secondary-color: #93d79e;
    /* Uso: Elementos que necesiten destacar pero no sean el foco principal. Utilízalo para fondos de secciones menores, tarjetas de información, encabezados secundarios, iconos y gráficos. */
    --accent-color: #20f0c3;
    /* --accent-color: #D0FF00; */
    /* Uso: Llamar la atención sobre elementos importantes de acción o información crítica, como botones, enlaces, alertas y elementos interactivos. El uso debe ser moderado. */
    /* --background-color: #03522a; */
    --background-color: #350032;
    --text-color: #e1f9dc;
    --text2-color: #202020;
    --degradiente-color: linear-gradient(to right, var(--primary-color), var(--accent-color));
}
*{
    margin: 0;
    padding: 0; /* ESTE QUIZAS NO ES NECESARIO */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
}

/* HEADER */
.header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;   
    background-color: rgba(255, 0, 242, 0.163);
    
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: .8rem 2rem;

        .nav-logo{
            text-decoration: none;
            color: var(--text-color);
            font-weight: 700;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            
            & img{ margin-right: 0.5rem; }
            & span{ margin-top: 0.3rem; }
        }
        
        .nav-list{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 30px;
            
            .nav-link{
                color: var(--text-color);
                text-decoration: none;
                font-weight: 500;
                font-size: 1.1rem;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                
                /* Efecto de boton */
                transition: transform 0.3s, box-shadow 0.3s;
                
                &:hover {
                    transform: scale(0.95);
                    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                }
            }
        }    
    }

    /* Efecto de movimiento */
    animation: scroll-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 100px;
}

/* ANIMACION PARA EL HEADER */
@keyframes scroll-header {
    to{
        background: rgba(255, 0, 242, 0.329);
        backdrop-filter: blur(5px);
        color: #363636;
    }
}

/* CONTENIDO PRINCIPAL - INTRO */
.main{
    .intro{
        height: 90vh;
        margin: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 7rem;

        .fotoPrincipal{
            border-radius: 15px;
            width: 18rem;
        }
        .text-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            
            .title{
                font-size: 2.7rem;
                font-weight: 200;
                align-items: center;
            }
            .subtitle{
                font-size: 2.2rem;
                font-weight: 500;
                background: linear-gradient(120deg, var(--primary-color), var(--accent-color));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

/* Estilo general para los iconos sociales */
    & .social{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 20px;

        & .social-link{
            text-decoration: none;
            color: var(--text-color);
            
            /* Efecto de redes */
            transition: transform 0.3s;
            
            &:hover{
                transform: scale(1.5);
            }
        }
        & .icon{
            font-size: 2rem; 
            width: 2rem;    
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

/* Estilo general para los titulos */
    & section{
        margin-top: 60px;
        padding: 80px 50px;

        & .title{
            margin-left: 80px;
            display: flex;
            align-items: center;

            & h1{
                font-size: 2rem;
                font-weight: 700;
                margin-left: 0.5rem;
                background: var(--degradiente-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                
            }
            .slash{
                width: 2rem;
                color: var(--primary-color);
            }
        }
    }

/* CONTENIDO PRINCIPAL - SOBRE MI */
    .about{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        .elements-container{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 40px;

            .texto{
                flex: 1;
                padding-top: 4.5rem;

                .keyword{
                    color: var(--accent-color);
                }
            }

            .tabs-container{
                flex: 3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .tabs{
                    display: flex;
                    cursor: pointer; 

                    .name-tab{
                        position: relative;
                        font-weight: 600;
                        font-size: 1.2rem;
                        padding: 0.2rem 1rem;
                        
                    }
                    .name-tab::after{
                        content: '';
                        position: absolute;
                        height: 3px;
                        width: 0;
                        bottom: 0;
                        left: 0;
                        background: var(--secondary-color);
                        transition: width 0.3s ease-out;
                        
                    }
                    .name-tab:hover::after{
                        animation: grow-tab 0.6s forwards;
                    }
                    .name-tab:active::after{
                        /* animation: forwards; */
                        width: 30%;
                        transition: width 0.3s ease-in-out;
                    }
                }

                .tab-content{
                    list-style-type: none;

                    .stack{
                        display: flex;
                        flex-direction: column;
                        border-radius: 15px;
                        background: rgba(255, 241, 153, 0.80);
                        gap: 10px;
                        padding: 15px;
                        margin: 15px 0;
                        
                        transition: transform .3s, box-shadow .3s;
                        
                        &:hover{
                            transform: scale(1.05);
                            box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
                        }

                        & h3{
                            text-align: left;
                            padding: 0 20px;
                            font-size: 1.5;
                            font-weight: 500;
                            color: var(--text2-color);
                        }
                        & .icon-container{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 20px;
                            gap: 30px;

                            & .icon-general{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                
                                & .icono{
                                    font-size: 2rem;
                                    width: 2rem;
                                }

                                & p{
                                    font-size: .8rem;
                                    font-weight: 200;
                                    color: var(--background-color);
                                }
                            }
                        }
                    }

                    .text-container{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        padding: 0 60px;

                        list-style: none;
                        
                        & .date{
                            font-size: 1.2rem;
                            font-weight: 500;
                            color: var(--secondary-color);
                        }
                    }
                }
            }
        }
    }

/* CONTENIDO PRINCIPAL - PROYECTOS */
    .projects{
        .projects-container{
            display: flex;
            flex-wrap: wrap;
            padding: 3rem;
            gap: 20px;
            justify-content: center;

            .project-card{
                position: relative;
                width: 300px;
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                transition: transform .3s ease-in-out;

                /* img */
                .project-info{
                    padding: 1rem;
                    background-color: var(--secondary-color);
                    text-align: center;
                    h3{
                        margin: 0;
                        font-size: 1.5rem;
                        color: var(--background-color);
                    }
                    p{
                        margin: 0.5rem 0 0;
                        color: var(--text2-color);
                    }
                }
                .description{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.7);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 1.5rem;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                    backdrop-filter: blur(5px); /* Difumina el contenido de fondo */
                    
                    &:hover{
                        opacity: 1;
                    }
                }

                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }

    .contact{
        .contact-container{
            display: flex;
            justify-content: space-between;
            /* align-items: center; */
            /* gap: 10px; */

            .social{
                flex: 1;
                flex-direction: column;
                gap: 20px;
                
                .mail-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .mail-link{
                        text-decoration: none;
                        color: var(--accent-color);
                        /* Efecto de redes */
                        transition: transform 0.3s;
                        
                        .mail{
                            width: 3.5rem;
                        }

                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                }
                .social-links{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                }
            }

            .form{
                flex: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 40px;

                form{
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                    
                    input, textarea{
                        padding: 10px;
                        margin-bottom: 5px;
                        border: 1px solid var(--text2-color);
                        border-radius: 4px;
                        background-color: var(--primary-color);
                        box-shadow: 0 0 10px rgba(255, 0, 242, 0.64);
                        color: var(--text2-color);
                        font-size: 1rem;
                    }

                    button{
                        border: none;
                        font-size: 1.1rem;
                        padding: 0.5rem 1rem;
                        border-radius: 5px;
                        align-self: self-end;
                        border: 3px solid var(--accent-color);
                        color: var(--text-color);
                        background-color: transparent;

                        &:hover{
                            color: var(--text2-color);
                            background-color: var(--accent-color);
                            font-weight: 500;
                        }
                    }
                }
            }
        }

    }
}

/* ANIMACION PARA EL TAB */
@keyframes grow-tab {
    0% {translate: 20% 0;}
    50% { width: 90%;}
    100% {width: 30%;}
}

footer{
    width: 100%;
    text-align: center;
    padding: 15px;
    color: var(--text2-color);
    background-color: var(--secondary-color);
    opacity: .9;

    p{
        display: flex;
        justify-content: center;
        align-items: center;

        .icono{
            font-size: .3rem;
            margin: 0 5px;
            /* vertical-align: middle; */
            
            .icon{
                width: 1.1rem;
                color: var(--background-color);
                /* vertical-align: middle; */
            }
        }
    }
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 30 30"%3E%3Cpath stroke="%23000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15h20M5 9h20M5 21h20" /%3E%3C/svg%3E');
}

/* ESTILOS PARA EXTRA SMALL DEVICES (mobile hasta 600px) */
@media only screen and (max-width: 600px){
    /* .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
    }

    .nav-list.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    } */
}